<div class="row">
    <div class="col-xs-12 col-md-3 col-xd-4">
        <div class="panel panel-default">
            <div class="panel-heading">Log In</div>
            <div class="panel-body">
                <login-form></login-form>
            </div>

        </div>
    </div>
    <div class="col-xs-12 col-md-7 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">Register</div>
            <div class="panel-body">
                <registration-form></registration-form>
            </div>
        </div>
    </div>
</div>
