<div class="container-fluid ">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img src="https://pp.userapi.com/c836527/v836527266/35afa/IrOFslVDrjo.jpg" class="img-thumbnail" />
                <p>
                    <a class="btn btn-primary btn-sm" href="#" role="button">Add to Friends</a>
                    <a class="btn btn-primary btn-sm" href="#" role="button">Send Message</a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h1>Mike Oz</h1>
                <p>Current user status</p>
            </div>
            <div>
                <div class="row">
                    <div class="col-xs-6"><p>Age</p></div>
                    <div class="col-xs-6"><p>33</p></div>
                </div>
                <div class="row">
                    <div class="col-xs-6">Gender</div>
                    <div class="col-xs-6">Male</div>
                </div>
                <div class="row">
                    <div class="col-xs-6">City</div>
                    <div class="col-xs-6">Dnipro</div>
                </div>
                <div class="row">
                    <div class="col-xs-6">Country</div>
                    <div class="col-xs-6">Ukraine</div>
                </div>
            </div>
        </div>
    </div>

</div>
